<ion-content>
  <ion-grid class="container" [ngClass]="theme" *ngIf="theme">
      <img (click)="back()" src="../../../assets/BackArrow/ic-back-{{theme}}.png">
      <div style="float: right;">
        <span class="btn-action" (click)="edit()">edit</span>
        <span class="btn-action" (click)="reset()">reset</span>
        <span class="btn-action" (click)="delete()">delete</span>
      </div>
      <br><br><br>
      <span class="label">IT HAS BEEN</span>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="countdown-param">{{ days }}</span>
            <div class="label">Days</div>
          </ion-col>
          <ion-col>
            <span class="countdown-param">{{ hours }}</span>
            <div class="label">Hours</div>
          </ion-col>
          <ion-col>
            <span class="countdown-param">{{ minutes }}</span>
            <div class="label">Minutes</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br><br><br>
      <div class="label">SINCE</div>
      <div class="countdown-description">{{ countdown?.description }}</div>
      <br>
      <span class="btn-history" (click)="history()">history</span>
  </ion-grid>
</ion-content>