.container {
  padding: 30px;
  height: 100%;
}
.light {
  background: white;
  color: #091F44;
}
.dark {
  background: #091E44;
  color: white;

  ion-item {
    color: #758196;
  }
}
img {
  margin-top: 5px;
}
#char-counter {
  margin-top: 10px;
  font-weight: bold;
}