<ion-content>
  <ion-grid class="container" [ngClass]="theme" *ngIf="theme">
      <img (click)="back()" src="../../../assets/BackArrow/ic-back-{{theme}}.png">
      <span *ngIf="date && description" style="float: right;" (click)="save()">save</span>
      <br><br><br>
      <ion-item>
        <img src="../../../assets/Date Picker/ic-date picker.png" alt="">
        <ion-label *ngIf="!date" style="margin-left: 20px;">Pick a Date</ion-label>
        <ion-datetime displayFormat="MMMM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
      </ion-item>
      <br><br><br><br>
      <div>Since</div>
      <ion-item>
        <ion-input placeholder="Countdown Name" [(ngModel)]="description" maxlength="32"></ion-input>
      </ion-item>
      <div id="char-counter">
        {{ description.length }}/32
      </div>
  </ion-grid>
</ion-content>